// variables 
$primary-color: #16a085;
$secondary-color: #1abc9c;
$accent-color: #12876f;
$font-family: 'Poppins', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 15px;
    background: $secondary-color;
    overflow: hidden;
  }

  .wrapper{
    max-width: 500px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);

    .title {
        height: 120px;
        background: $primary-color;
        border-radius: 5px 5px 0 0;
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    form{
        padding: 25px 35px;

        .row{
            height: 60px;
            margin-top: 15px;
            position: relative;
            
            input{
                height: 100%;
                width: 100%;
                outline: none;
                padding-left: 70px;
                border-radius: 5px;
                border: 1px solid lightgrey;
                font-size: 18px;
                transition: all 0.3s ease;

                &:focus{border-color: $primary-color;}
                &::placeholder{color: #999;}
            }

            i{
                position: absolute;
                width: 55px;
                height: 100%;
                color: #fff;
                font-size: 22px;
                background: $primary-color;
                border: 1px solid $primary-color;
                border-radius: 5px 0 0 5px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .pass{
            margin-top: 12px;
            
            a{
                color:$primary-color;
                font-size: 17px;
                text-decoration: none;
    
                &:hover{text-decoration: underline;}
            }
    
        }

        .button{

            input{
                margin-top: 20px;
                color: #fff;
                font-size: 20px;
                font-weight: 500;
                padding-left: 0px;
                background: $primary-color;
                border: 1px solid $primary-color;
                cursor: pointer;

                &:hover{ background: $secondary-color;}
            }
        }

        .signup-link {
            text-align: center;
            margin-top: 45px;
            font-size: 17px;

            a{
                color: $primary-color;
                text-decoration: none;
                &:hover{text-decoration: underline;}
            }

           
        }
    }

    
    }


  
  