// _button.scss
// calling all style from abstracts and base
@use '../base/global'; 
@use '../abstracts/variables' as v;

.button {
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 100%; 
    
    input {
        display: inline-block; 
        margin-top: 20px;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        padding-left: 0px;
        background: v.$primary-color;
        border: 1px solid v.$primary-color;
        cursor: pointer;
        width: 100%; 
        text-align: center; 
        padding: 12px 20px; 

        &:hover {
            background: v.$secondary-color;
        }
    }
}