// _variables.scss

//Colors
$primary-color: #16a085;
$secondary-color: #c6e9e2;
$accent-color: #12876f;


//Fonts:
$font-family: 'Poppins', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;


// Colors
$navbar-bg: #FFFFFF;
$navbar-hover-bg: #88e788;
$navbar-border-color: #003300;
$dropdown-bg: #006B00;
$dropdown-hover-bg: #002200;
$black_color: #000000;
$highlight: #88e788;
// navigation padding, changes the height of the nav element
$navbar-padding: 15px;

// Fonts


// Others
$letter-spacing: 2px;
$font-size-large: 0.9em;