// _button.scss
// calling all style from abstracts and base
@use '../base/global'; 
@use '../abstracts/variables' as v;

.button {
    display: flex; /* Make the button a flex container */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    width: 100%; /* Ensure the button spans the full width */
    
    input {
        display: inline-block; /* Makes the input an inline-block element */
        margin-top: 20px;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        padding-left: 0px;
        background: v.$primary-color;
        border: 1px solid v.$primary-color;
        cursor: pointer;
        width: 100%; /* Ensure the button takes full width */
        text-align: center; /* Center the text inside the input */
        padding: 12px 20px; /* Adjust padding to size the button and center text properly */

        &:hover {
            background: v.$secondary-color;
        }
    }
}