@use '../abstracts/variables' as v;

.navbar-toggle {
  background-color: black;
}

.navbar-inverse {
    background-color: v.$navbar-bg;
    border-color: v.$navbar-border-color;
    padding: v.$navbar-padding;
  
    .navbar-brand {
      color: v.$black_color;
      font-weight: bold;
  
      &:hover {
        color: v.$highlight;
      }
    }
  
    .navbar-nav {
      > li > a {
        color: v.$black_color;
        font-weight: bold;
  
        &:focus,
        &:hover {
          color: v.$highlight;
          // background-color: v.$navbar-hover-bg;
        }
      }
  
      > .active > a,
      > .open > a,
      > .open > a:hover,
      > .open > a:focus {
        color: v.$black_color;
        background-color: v.$navbar-bg;
      }
    }
  
    
  }
  