@use '../abstracts/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: variables.$font-family;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 15px;
    background: variables.$secondary-color;
    overflow: hidden;
}