@use '../abstracts/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: variables.$font-family;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 15px;
    background: variables.$secondary-color;
    overflow: hidden;
}

.navbar-brand {
    font-family: variables.$font-family;
    text-transform: uppercase;
  }
  
  .navbar .nav {
    font-family: variables.$font-family;
    text-transform: uppercase;
    letter-spacing: variables.$letter-spacing;
    font-size: variables.$font-size-large;
  }