// _variables.scss

//Colors
$primary-color: #16a085;
$secondary-color: #c6e9e2;
$accent-color: #12876f;


//Fonts:
$font-family: 'Poppins', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;


// Colors
$navbar-bg: #003300;
$navbar-hover-bg: #002200;
$navbar-border-color: #003300;
$dropdown-bg: #006B00;
$dropdown-hover-bg: #002200;
$white: #FFFFFF;
$highlight: #FFCC00;

// Fonts


// Others
$letter-spacing: 3px;
$font-size-large: 1.2rem;